  {% extends 'basefront.html.twig' %}
{% block body %}

    <!--? Preloader Start -->
  
    <!-- Preloader Start -->
    {% include ('front/header.html.twig')%}
     <div id="colorlib-page">
      <header>
        <div class="colorlib-navbar-brand text-center">
          <a class="colorlib-logo"  href="{{ path('front')}}">Start Smart, Your High school</a>
        </div>
        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
      </header>


     <div class="hero-wrap hero-wrap-2" style="background-image: url(assets/images/14.jpg);" src="{{ asset ("assets/images/14.jpg") }}">
      	<div class="overlay"></div>
	      <div class="container">
	        <div class="row no-gutters text align-items-end justify-content-center" data-scrollax-parent="true">
	          <div class="col-md-8 ftco-animate text-center">
	            
	            <h1 class="mb-5 bread"> Our Courses</h1>
	          </div>
	        </div>
	      </div>
      </section>
      <!-- END slider -->




     <section class="ftco-section bg-light">
	      <div class="container">
	        <div class="row d-flex">
			{% for Course in Course %}
	          <div class="col-md-6 ftco-animate">
	            <div class="blog-entry align-self-stretch d-flex">
	              <a href="blog-single.html" class="block-20 order-md-last d-flex justify-content-center align-items-center" style="background-image: url( {{ asset ('frontendImages/Courseimages/figures/' ~ Course.figure) }}); " "{{ asset ('frontendImages/Courseimages/figures/' ~ Course.figure) }}">
	              	<div class="icon d-flex justify-content-center align-items-center">
	              		<span class="icon-search"></span>
	              	</div>
	              </a>
	              <div class="text p-4 d-block">
	              	<div class="meta mb-3">
	                  <div><a href="#">August 19, 2018</a></div>
	                  
	                </div>
	                <h3 class="heading mt-3"><a href="#">{{  Course.CourseName  }}</a></h3>
	                <p>{{  Course.description }}</p>
	                <p><a href="blog-single.html" class="btn btn-outline-primary">Read more</a></p>
	              </div>
	            </div>
	          </div>
	         {% endfor %}
	          </div>
	        </div>
	      
	    </section>
	       
	        
	      
        

      {% include ('front/footer.html.twig')%}
   

 
{% endblock %}
